.button-container > a.btn + a.btn {
  margin-left: 4px;
}


body {
    padding: 2rem;
      background-image: url('https://img.freepik.com/darmowe-zdjecie/szara-sciana-tekstur_24972-158.jpg?w=1380&t=st=1680897311~exp=1680897911~hmac=9d151802cd8ce9e84895eac88548e28e6b3e0b4fe20f94ac5d3c76603883bf4e');
      background-size: cover;
      background-position: center;
    }

table {
  width: 660px;
}

th:nth-child(1),
td:nth-child(1) {
  min-width: 60px;
}

th:nth-child(2),
td:nth-child(2) {

  min-width: 150px;
}

th:nth-child(3),
td:nth-child(3) {

  min-width: 150px;
}

th:nth-child(4),
td:nth-child(4) {

  min-width: 350px;
}


.scale-20 {
  width: 20%;
}

.scale-60 {
  width: 60%;
}

.scale-20p {
  width: 20%;
}

@media (max-width: 768px) {
  .scale-20, .scale-60, .scale-20p {
    width: 100%;
  }
}


h2{
color:orange;
}
h1{
color: black;

}