{% extends 'main.html'%}
{% load bootstrap %}
{% block title %} Dodaj lub edytuj film {%endblock%}
{% block page %}

  <div class="card" style="width: 45rem; margin: 0 auto;">
              <div class="card-body">
                  {% if request.resolver_match.url_name == 'new_movie' %}
                  <h5 class="card-title">Dodaj film</h5>
                {%else%}
                  <h5 class="card-title">Edytuj film</h5>
                {%endif%}
              <form method="post" enctype="multipart/form-data">
                  {%csrf_token%}
                  {{ form|bootstrap }}
                  {{ form_additional|bootstrap }}
                  {%if form_grade%}
                    {{ form_grade|bootstrap }}
                  {%endif%}
                {% if request.resolver_match.url_name == 'new_movie' %}
                  <input class="btn btn-primary" type="submit" value="Dodaj film">
                {%else%}
                  <input class="btn btn-primary" type="submit" value="Edytuj film">
                {%endif%}
                <a href="{%url 'all_movies' %}" class="btn btn-primary">Anuluj</a>
              </form>

              </div>
  </div>

{% endblock%}